<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>MiniStore</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<div class="modal fade" id="restockModal" tabindex="-1">
   <div class="modal-dialog">
      <form method="POST" id="restockForm" class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Restock Book</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
         </div>

         <div class="modal-body">
            <p id="bookTitle" class="fw-bold"></p>

            <div class="mb-3">
               <label class="form-label">Jumlah Restock</label>
               <input type="number" name="stock" class="form-control" min="1" required autofocus />
            </div>
         </div>

         <div class="modal-footer">
            <button type="submit" class="btn btn-info">
               Update Stock
            </button>
         </div>
      </form>
   </div>
</div>

<body>
   <%-include("_navbar")%>

      <div class="container">
         <% if (success) { %>
            <div class="alert alert-<%= display%>">
               <strong>
                  <%= success %>
               </strong>
            </div>
            <% } %>
               <div class="my-3">
                  <% if (mode=="available" ) { %>
                     <h4>Abailable Books</h4>
                     <a href="/books/add" class="btn btn-info">Add Book</a>
                     <% } else {%>
                        <h4>Empty Books</h4>
                        <% }%>
               </div>
               <nav class="navbar navbar-light bg-light">
                  <form method="get" class="form-inline d-flex">
                     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q"
                        value="<%= q %>">
                     <button class=" btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                  </form>
               </nav>
               <table class="table  table-striped">
                  <thead>
                     <tr class="table-info">
                        <th scope="col">NO</th>
                        <th scope="col">Title</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Price</th>
                        <th scope="col">Author</th>
                        <th scope="col">Action</th>
                     </tr>
                  </thead>
                  <tbody>

                     <% books.forEach((book,i)=> {%>
                        <tr>
                           <th>
                              <%= i + 1 %>
                           </th>

                           <td>
                              <%= book.title %>
                           </td>

                           <td>
                              <%= book.isbn %>
                           </td>

                           <td>
                              <%= book.stock%>
                           </td>
                           <td>
                              <%= book.formatePrice%>
                           </td>

                           <td>
                              <%= book.Author.name%>
                           </td>
                           <td>
                              <% if (mode=="available" ) { %>
                                 <!-- available -->
                                 <a href="books/buy/<%= book.id %>" class="btn btn-outline-info">Buy</a>
                                 <% } else { %>
                                    <!-- empty -->
                                    <button class="btn btn-info btn-sm" data-bs-toggle="modal"
                                       data-bs-target="#restockModal" data-id="<%= book.id %>"
                                       data-title="<%= book.title %>">
                                       Restock
                                    </button>

                                    <a href="/books/edit/<%= book.id %>" class="btn btn-warning">Edit</a>
                                    <a href="/books/delete/<%= book.id %>" class="btn btn-danger">Delete</a>

                                    <% } %>
                           </td>
                        </tr>
                        <% }); %>

                  </tbody>
               </table>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
         </script>

      <script>
         const restockModal = document.getElementById('restockModal')

         restockModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget
            const bookId = button.getAttribute('data-id')
            const title = button.getAttribute('data-title')

            const form = document.getElementById('restockForm')
            const titleEl = document.getElementById('bookTitle')

            form.action = `/books/restock/${bookId}`
            titleEl.textContent = title
         })
      </script>
</body>

</html>